@use '../variables' as *;

.achtung-box {
  padding: 0.4em;
  .achtung {
    background-color: $violetPrimary;
    color: white;
    width: 294px;
    height: 44px;
    border-radius: 22px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;

    margin-bottom: 25px;
  }

  .circle {
    .children {
      width: 271px;
      margin-top: 80px;
    }

    h3 {
      font-size: 18px;
    }

    p {
      margin-top: 20px;
      font-size: 16px;
    }
  }

  .circle.no-heading {
    .children {
      margin-top: 136px;
      margin-bottom: 123px;
    }
  }

  .circle.purple {
    h3,
    p {
      color: white;
    }
  }

  .image {
    display: block;
    margin: auto;
    margin-bottom: -40px;
    z-index: 1;
  }
}

@media (min-width: $desktopMinWidth) {
  .achtung-box {
    .achtung-headline {
      display: flex;
      justify-content: center;
    }
    .image {
      width: 79px;
      height: 87px;
      margin-bottom: -40px;
    }

    h4 {
      font-size: 18px;
    }

    .achtung {
      margin-bottom: 50px;
    }
  }
  .desktop-achtung {
    width: 902px;
    border-radius: 100px;
    background-color: $violetPrimary;
    padding: 80px 100px 60px 100px;

    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    p {
      font-size: 18px;
      line-height: 1.41;
      letter-spacing: -0.38px;
      margin-top: 20px;
    }
  }
}
