@use '../variables' as *;

.akkordeon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  img {
    &:hover {
      cursor: pointer;
    }
    width: 32px;
    height: 32px;
  }

  .clickable-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    border-radius: 100px;
    background-color: $violetPrimary;
  }

  .arrow-down {
    transform: rotate(-180deg);
  }
}

.textAkkordeon {
  padding: 30px;
  max-width: 864px;
  background-color: $turquoiseBackground;
  border-radius: 10px;

  & ~ .textAkkordeon {
    margin-top: 10px;
  }

  h3 {
    font-size: 20px;
  }

  .children-elements {
    & > * {
      margin-top: 20px;
    }

    a {
      display: inline-block;
    }

    margin-top: 30px;
  }

  strong {
    font-weight: 900;
  }
  @media (min-width: $desktopMinWidth) {
    padding: 40px;
  }
}
