@use '../variables' as *;
.accordion-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 300px;

  .accordion {
    @media (min-width: $desktopMinWidth) {
      width: 350px;
    }
  }

  .akkordeon-image {
    color: $violetPrimary;
    width: 100%;

    .image-accordeon-button {
      position: relative;
      top: 35px;
      width: fit-content;
      height: 2em;
      border-radius: 10px;
      img {
        background-color: transparent;
        padding: 0px;
        width: 20px;
        &:hover {
          cursor: pointer;
        }
      }
    }

    .accordeon-header {
      display: flex;
      flex-direction: row;
      margin-left: 25px;
    }
    .image-akkordeon-container {
      display: flex;
      height: 185px;
      align-items: center;
      justify-content: center;
      &.white {
        background-color: white;
      }
      &.violet {
        background-color: $violetBackground;
      }
      border-radius: 10px;
    }
  }
}
.akkordeon-image-hidden-text {
  color: $violetDisable;
  @media (min-width: $desktopMinWidth) {
    width: 350px;
  }
}
.button-under-akkordeon {
  height: 4em;
  color: $violetPrimary;
  background-color: transparent;
  border: 2px solid $violetPrimary !important;
  width: auto;
  padding: 1em;
  &.tertiary-button {
    color: $violetPrimary;
  }
}
.desktop-width {
  width: 80%;
}
.mobile-width {
  width: 334px;
}
