@use '../variables' as *;

#back-to-top {
  z-index: 100;
  position: fixed;
  bottom: 100px;
  right: 20px;

  height: 53px;
  width: 53px;

  border-radius: 50%;

  display: none;
  justify-content: space-around;
  align-items: center;

  cursor: pointer;

  background-color: #ff6142;

  .inner {
    width: 85%;
    height: 85%;

    background-color: $violetBackground;
    border-radius: inherit;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    img {
      width: 24px;
    }

    p {
      color: $violetLink;
      margin: 0;
      margin-top: -16px;
      font-size: 10px;
    }
  }

  @media (min-width: $desktopMinWidth) {
    bottom: 20px;
  }
}
