@use '../variables' as *;

.bullet-list-akkordeon {
  width: 100%;

  ul {
    padding-left: 1.5em;

    p {
      position: relative;

      margin: 1em 0;

      color: $violetDisable;

      &:before {
        position: absolute;
        content: '\2022'; /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: $yellowSecondary; /* Change the color */
        font-weight: bold; /* If you want it to be bold */
        display: inline-block; /* Needed to add space between the bullet and the text */
        width: 1em; /* Also needed for space (tweak if needed) */
        margin-left: -1em; /* Also needed for space (tweak if needed) */
        transform: scale(2);
      }
    }
  }
}

.bullet-list {
  width: 100%;

  ul {
    padding-left: 1.5em;

    p {
      position: relative;

      margin: 1em 0;

      color: $violetDisable;

      &:before {
        position: absolute;
        content: '\2022'; /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: $yellowSecondary; /* Change the color */
        font-weight: bold; /* If you want it to be bold */
        display: inline-block; /* Needed to add space between the bullet and the text */
        width: 1em; /* Also needed for space (tweak if needed) */
        margin-left: -1em; /* Also needed for space (tweak if needed) */
        transform: scale(2);
      }
    }
  }
}

@media (min-width: $desktopMinWidth) {
  .bullet-list {
    width: max-content;
    max-width: 940px;
    background-color: white;
    border-radius: 100px;

    padding: 60px 88px;

    display: flex;
    flex-direction: column;

    &.small {
      ul {
        p {
          max-width: 350px;
        }
      }

      h4 {
        max-width: 400px;
      }
    }

    h4 {
      font-weight: 900;
      font-size: 20px;
      margin-bottom: 30px;
      color: $violetDisable;
      line-height: normal;
    }

    .lists {
      display: flex;
      width: max-content;
    }

    ul {
      max-width: 360px;
      &.w-720 {
        max-width: 720px;
      }
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      margin-left: 40px;
      &.first {
        margin-left: 0;
      }

      max-height: 100%;
      padding: 0;

      p {
        margin: 0;
        margin-left: 1.5em;

        & ~ p {
          margin-top: 20px;
        }
      }
    }

    .children {
      max-width: 400px;
      margin-top: 40px;
    }

    &.violet {
      background-color: $violetBackground;
    }
  }

  .light {
    .bullet-list {
      background-color: $violetBackground;
    }
  }
}
