@use '../variables' as *;

a.button-anchor {
  text-decoration: none;
  display: block;
}

.primary-button {
  width: 207px;
  height: 49px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  background-color: $violetPrimary;

  border-radius: 31px;
  border-color: transparent;

  font-weight: 700;

  img {
    margin-left: 10px;
    filter: invert(99%) sepia(0%) saturate(2672%) hue-rotate(146deg)
      brightness(109%) contrast(100%);
  }
}

.secondary-button {
  color: $violetPrimary;
  background-color: white;

  border: 2px solid $violetPrimary;
  border-radius: 26px;

  padding: 0.4em 1.25em;

  font-weight: 700;
}

.tertiary-button {
  color: $violetDisable;
  background-color: transparent;
  gap: 10px;

  border: none;

  font-weight: 700;

  img {
    width: 10px !important;
    height: 12px !important;
  }
}

.yellow-button {
  @extend .primary-button;
  width: auto;
  padding: 0 36px;
  height: 61px;
  background-color: $yellowSecondary;
  color: $violetPrimary;
  img {
    filter: invert(24%) sepia(38%) saturate(4611%) hue-rotate(250deg)
      brightness(80%) contrast(84%);
  }

  @media (min-width: $desktopMinWidth) {
    padding: 0 30px;
    height: 50px;
  }
}

.secondary-button,
.tertiary-button {
  img {
    width: 12px;
    filter: invert(24%) sepia(38%) saturate(4611%) hue-rotate(250deg)
      brightness(80%) contrast(84%);
  }
}

.secondary-button,
.tertiary-button {
  display: flex;
  align-items: center;

  img {
    width: 12px;
  }
}
