@use '../variables' as *;
.card-container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .card {
    border-radius: 20px !important;
    overflow: hidden;

    .card-img-top-container {
      width: 100%;
      background-color: #f5f5f5;
      padding: 38px 0;

      .card-img-top {
        display: block;
        margin: auto;
        width: 100%;
      }
    }

    .card-subtitle {
      color: $violetDisable;
      margin-bottom: 1rem;
    }

    .card-title {
      text-align: left;
      color: $violetPrimary;
      margin-bottom: 1rem;
      align-self: flex-start;
    }

    .card-text {
      color: $violetDisable;
      margin-bottom: 2rem;
    }
  }

  .card.medium {
    .card-text {
      margin: 0;
    }
  }
}

.card.big {
  border: none;
  border-radius: 20px;
  .card-img-top {
    img {
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }
  }
  h4 {
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
  }

  h3 {
    font-size: 23px;
    margin-top: 20px;
  }

  .card-text {
    color: $violetDisable;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .havas-button {
    margin-top: 60px;

    .primary-button {
      width: 250px;
    }
  }

  .calendar {
    margin-left: -65px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    .text {
      p {
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
}

.card-small {
  .cardImage {
    width: 140px;
    height: 180px;
    border-radius: 20px;
  }
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;

  .element-container {
    position: relative;
  }

  h4 {
    z-index: 20;
    color: white;
    font-size: 16px;
    letter-spacing: -0.16px;
    text-align: center;
    width: 100%;

    position: absolute;

    bottom: 6px;
  }

  .overlay {
    background-color: #41337b;
    z-index: 10;
    opacity: 0.5;
    border-radius: 20px;

    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  @media (min-width: $desktopMinWidth) {
    .cardImage {
      width: 270px;
      height: 345.7px;
    }

    h4 {
      bottom: 16px;
      font-size: 26px;
      line-height: 1.23;
      letter-spacing: -0.26px;
    }
  }
}

.card-container.var1 {
  .gatsby-image-wrapper {
    height: 216px;
  }

  justify-content: center;
  gap: 40px;
  .card.big {
    .card-body {
      padding: 30px 16px 19.9px 20px;
      background-color: white;
      height: auto;
      justify-content: flex-start;

      .card-subtitle {
        margin-top: 0;
        line-height: 1.38;
        align-self: flex-start;
        margin-bottom: 20px;
        color: $violetDisable;
        font-weight: bold;
      }
      .card-title {
        margin-top: 0;
        font-size: 23px;
        font-weight: 900;
        margin-bottom: 20px;
      }
      .card-text {
        margin-top: 0;
      }
      .calendar {
        display: none;
      }

      .button-container {
        width: 100%;
        margin-top: auto;
        .havas-button {
          .primary-button {
          }
        }
      }
    }

    @media (min-width: $desktopMinWidth) {
      width: 335px !important;
    }
  }
  @media (min-width: $desktopMinWidth) {
    &.violet {
      .card-body {
        background-color: $violetBackground !important	;
      }
    }
  }
}

@media (min-width: $desktopMinWidth) {
  .card-container {
    flex-direction: row;
    justify-content: space-between;
    width: 110%;

    .card {
      width: 30%;

      .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        background-color: $violetBackground;
        padding: 40px 25px;
      }

      h3 {
        font-size: 26px;
      }
    }
  }
}
