@use '../variables' as *;

.circle {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 0;

  .circle-background {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    height: 100%;
    z-index: -1;
  }
  &.large-backgroud {
    @media(max-width: $desktopMinWidth) {
      .circle-background{
        height: 115%!important;
        width: 115%!important;
      }
    } 
  }
  &.large-desktop-backgroud{
    @media(min-width: $desktopMinWidth) {
        height: 110%!important;
        width: 110%!important;
    }
  }

  .circle-background.purple {
    background-color: $violetPrimary;
  }

  .circle-background.pink {
    background-color: $violetBackground;
  }

  .image {
    position: absolute;
    top: -25%;
  }

  .children {
    margin: 3.5em 0;
  }
}

.circle.purple {
  color: purple;
}

@media(min-width: $desktopMinWidth) {
  .circle {
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background-color: $violetBackground;

    display: flex;
    justify-content: center;
    align-items: center;

    // padding: 0 115px;
  }
}

