@use '../variables' as *;

.round-box {
  position: relative;
  padding: 20px;
  width: 280px;
  height: 280px;
  color: white;
  background-color: $violetPrimary;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .image {
    position: absolute;
    width: 165px;
    height: 165px;
    bottom: -75px;
    left: -75px;
  }
}

.bottom-accordion {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 9em;
  padding: 2em;
  padding-top: 0;
  color: white;
  background-color: $violetPrimary;
  border-bottom-left-radius: 10em;
  border-bottom-right-radius: 10em;
}

.top-accordion {
  min-height: 9em;
  padding: 2em;
  padding-bottom: 0;
  color: white;
  background-color: $violetPrimary;
  border-top-right-radius: 10em;
  border-top-left-radius: 10em;
}

button.rounded-circle {
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;

  border: none;

  img {
    width: 50%;
  }
}

.box-container {
  .text-holder {
    background-color: $violetPrimary;
    color: white;
    padding: 30px;
    padding-top: 25px;
    margin-top: -1px;
    margin-bottom: -1px;
    p {
      & ~ p {
        margin-top: 20px;
      }
    }
    & > a {
      display: block;
    }
    a {
      margin-top: 20px;
      color: white;
    }

    strong {
      font-weight: 900;
    }
  }
}

@media screen and (min-width: $desktopMinWidth) {
  .desktop-box {
    position: relative;
    width: 70%;
    border-radius: 216px;
    background-color: $violetPrimary;
    padding: 50px 0;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 46px;

    & > * {
      width: 75%;
      text-align: center;
    }

    h4 {
      margin-top: 20px;
    }

    .text-holder {
      p {
        line-height: 1.41;
        letter-spacing: -0.38px;
        margin-top: 30px;
      }

      strong {
        font-weight: 900;
      }

      a {
        color: white;
      }
    }

    .image {
      position: absolute;
      width: 165px;
      height: 165px;
      bottom: -45px;
      left: -50px;
    }
  }
}
