@use '../variables' as *;

.clickable-image {
  position: relative;
  width: 330px;

  .blue {
    background-color: $turquoisePrimary;
  }
  .yellow {
    background-color: $yellowSecondary;
  }

  span {
    font-family: RailroadGothic;
    color: white;
    font-size: 26px;
    font-weight: normal;
    line-height: 1.33;
    text-align: left;
    text-transform: uppercase;
    padding-right: 8px;
    padding-left: 3px;
    border-radius: 3px;
  }

  .elementContainer:nth-child(1) {
    position: absolute;
    left: 10px;
    .nameContainer {
      position: relative;
      top: -41px;
      transform: rotateZ(-5deg);
      left: 17px;
    }
  }

  .elementContainer:nth-child(2) {
    position: absolute;
    top: 143px;
    left: 163px;
    .nameContainer {
      position: relative;
      top: -22px;
      transform: rotate(-10deg);
      left: 15px;
    }
  }
  .elementContainer:nth-child(3) {
    position: absolute;
    left: 17px;
    top: 207px;
    .nameContainer {
      transform: rotate(-13deg);
      top: -41px;
      position: relative;
      left: -27px;
    }
  }

  .nameContainer {
    display: flex;
    align-items: center;
  }
  .arrow-up {
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid white;
    position: absolute;
    top: 435px;
    left: 21px;
    @media (min-width: $desktopMinWidth) {
      border-bottom: 16px solid #eeeaf6;
    }
  }

  .textBox {
    padding: 20.8px 18px 27.3px 18px;
    border-radius: 20px;
    background-color: white;
    margin-top: 450px;

    @media (min-width: $desktopMinWidth) {
      background-color: #eeeaf6;
    }
  }
}
