@use '../variables' as *;

.crossTeaser {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 20px;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-left: -20px;
  margin-right: -18px;

  h3 {
    color: $violetPrimary;

    @media (min-width: $desktopMinWidth) {
      font-size: 19px;
    }
  }

  .imgContainer {
    align-self: center;
    margin-bottom: 30px;
  }

  p {
    color: $violetDisable;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  button {
    align-self: center;
    margin: auto;
  }

  @media (min-width: $desktopMinWidth) {
    margin-left: 0;
    margin-right: 0;
  }
}
