@use '../variables' as *;
.filtered-slider {
  .filter-content-container {
    margin-left: 5%;
    margin-right: 5%;
    @media (min-width: $desktopMinWidth) {
      display: flex;
      margin-left: 0;
      margin-right: 0;
      gap: 100px;
      margin-bottom: 60px;
      .filter-buttons-container {
        gap: 15px;
      }
      .filter-categories {
        display: flex;
        align-items: center;
        margin-top: 0;
        gap: 30px;
        p {
          margin-bottom: 0 !important;
        }
      }
    }
  }
  .filter-categories {
    max-height: 0px;
    transition: max-height 0.5s;
    overflow: hidden;

    &.open {
      max-height: 100px;
    }
  }

  .filter-text {
    font-size: 18px;
    font-weight: 900;
    color: $violetDisable;
  }

  .filter-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .filter-buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .filter-button {
      cursor: pointer;
      padding: 12px 16px;

      border: 1px solid $violetPrimary;
      border-radius: 5px;
      background: transparent;

      font-size: 16px;
      font-weight: 500;

      &.active {
        color: white;
        background-color: $violetPrimary;
        font-weight: 900;
      }
    }
  }
  .card-container.var1 {
    width: 100%;
    min-height: 859.19px; //To stop moving of the container
    .card-title {
      line-height: 1.2;
    }
    .havas-button {
      width: 100%;
      button {
        width: 100% !important;
      }
    }
  }

  .paginationContainer {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 75px;
    justify-content: center;
    margin-top: 30px;

    .arrowConainer {
      cursor: pointer;
    }
    @media (min-width: $desktopMinWidth) {
      margin-top: 40px;
    }
  }

  .radio-button {
    position: relative;
    width: 61px;
    height: 33px;
    border-radius: 33px;
    background-color: transparent;
    border: 2px solid $violetPrimary;

    .circle {
      position: absolute;
      border-radius: 100%;
      width: 25px;
      height: 25px;
      top: 7%;
      transform: translate(10%, 0);
      background-color: $violetPrimary;
      transition: transform 0.5s;
    }

    &.checked {
      background-color: $violetPrimary;

      .circle {
        background-color: white;
        transform: translate(120%, 0);
      }
    }
  }
}
