@use '../variables' as *;

.footer {
  background-color: $violetPrimary;
  color: white;
  @media (max-width: $desktopMinWidth) {
    margin-bottom: 5em;
    padding-bottom: 1em;
  }
  .list-item {
    border: none;
  }

  .copyright-container {
    @media (max-width: $desktopMinWidth) {
      p {
        font-size: 13px;
        padding: 10px;
      }
    }
    @media (min-width: $desktopMinWidth) {
      p {
        font-size: 15px;
      }
    }
  }

  .upper-container {
    border-bottom: 1px solid white;
    margin: 0;
  }

  .bottom-container {
    display: flex;
    @media (min-width: $desktopMinWidth) {
      justify-content: space-between;
      flex-direction: row;
    }
    @media (max-width: $desktopMinWidth) {
      flex-direction: column;
    }
  }

  .desktop-padding {
    width: 1220px;
    margin: auto;
  }

  .links {
    display: flex;
    flex-direction: row;
    a {
      color: white;
      text-decoration: none;
      font-size: 12px;
      margin: '2px';
      border-right: 2px solid white;
      padding-right: 10px;
      padding-left: 10px;
    }
    p {
      font-size: 12px;
      margin: '2px';
      border-right: 2px solid white;
      padding-right: 10px;
      padding-left: 10px;
    }
    @media (min-width: $desktopMinWidth) {
      margin-bottom: 2em;
      p {
        padding-right: 10px;
        padding-left: 10px;
      }
    }
  }

  .sanofi-logo {
    @media (max-width: $desktopMinWidth) {
      width: 12em;
    }
    @media (min-width: $desktopMinWidth) {
      height: 30px;
      margin-top: 0.5em;
    }
  }
  .mobile-footer-text {
    @media (max-width: $desktopMinWidth) {
      padding: 28.7px 18px 18.3px 19px;
      font-size: 12px;
    }
  }

  .desktop-footer-text {
    @media (min-width: $desktopMinWidth) {
      font-size: 12px;
      padding-top: 2em;
      padding-bottom: 2em;
      width: 60%;
    }
  }
}
.f-15 {
  font-size: 15px;
}
.f-20 {
  font-size: 20px;
}

.accordion-sub-heading {
  font-family: 'MuseoSans';
  color: $violetPrimary;
  font-size: 17.5px;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 0.5em;
  margin-top: 0;
}

.accordion-sub-heading-text {
  font-family: 'MuseoSans';
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 1em;
}

.arrow {
  width: 100%;
}
.borderPad {
  padding-left: 1em;
  @media (min-width: $desktopMinWidth) {
    margin-left: 19px;
    margin-right: 136px;
    padding-left: 0;
  }
}

.footer-accordion {
  display: flex;
  flex-direction: row;
  background-color: white;
  .arrow-wrapper {
    padding-right: 1em;
    padding-left: 1em;
    @media (min-width: $desktopMinWidth) {
      padding-top: 5px;
    }
    .arrow-image {
      background-color: white;
      border-color: white;
      width: auto;
      height: auto;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.footer-top-accordion {
  @media (max-width: $desktopMinWidth) {
    padding: 20px;
  }
}
