@use '../variables' as *;

.google-map-doctor-list-wrapper {
  width: 107%;
  .inputField {
    display: flex;
    align-items: center;
    width: 100%;
    height: 52px;
    margin-bottom: 20px;
    font-size: 14px;
    padding: 15px;
    border: 1px solid #8a82a1;
    border-radius: 12px;
    background-color: white;
    input {
      &::placeholder {
        color: $violetDisable;
      }
      &:focus {
        outline: none;
      }

      font-size: 16px;
      font-weight: 500;
      margin-left: 13px;
      margin-right: 13px;
      width: 100%;
      border: none;
      color: $violetDisable;
      background-color: white;
    }
  }

  .google-map {
    height: 714px;
    width: 100%;

    .zoomButtonsContainer {
      position: absolute;
      z-index: 100;
      display: flex;
      flex-direction: column;
      gap: 7px;
      right: 12px;
      bottom: 102px;

      .zoomButton {
        width: 46px;
        height: 46px;
        background-color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;

        cursor: pointer;
        img {
          width: 21px;
          height: 46px;
        }
      }
    }

    .doctor-list {
      overflow: scroll;
      overflow-x: hidden;
      height: 100%;
    }

    .headingDoktor {
      font-size: 24px;
      margin-bottom: 10px;
      font-weight: 900;
    }

    .doctor-container {
      position: relative;
      text-align: left;

      h4 {
        @extend .headingDoktor;
        color: $violetPrimary;
      }

      button {
        color: $violetPrimary;
        font-weight: 900;
      }
      &:hover {
        cursor: pointer;
      }

      padding: 29px;
      padding-left: 43px;
      padding-right: 0;
      .border_bottom {
        position: absolute;
        bottom: 0;
        border-bottom: 1px solid $violetPrimary;
        left: 40px;
        right: 40px;
      }

      &:last-child {
        .border_bottom {
          border: none;
        }
      }
    }

    .contactInfoContainer {
      display: flex;
      flex-direction: column;
      position: absolute;
      background-color: white;
      width: 100%;
      z-index: 100;
      bottom: 0;
      border-top-right-radius: 16px;
      border-top-left-radius: 16px;
      padding-left: 33px;
      padding-top: 26px;
      padding-bottom: 26px;
      text-align: left;
      button {
        height: 61px;
      }
      h4 {
        @extend .headingDoktor;
        color: $violetContact;
      }
      .doktorOnlineImage {
        position: absolute;
        width: 100px;
        right: 66px;
        bottom: 251px;

        @media (min-width: $desktopMinWidth) {
          width: 150px;
          right: 664px;
          bottom: 243px;
        }
      }
      .profileImage {
        width: 114px;
        height: 114px;
        border-radius: 50%;
        margin-left: 7px;
        margin-bottom: 14px;
      }
      .closeContactButton {
        position: absolute;
        right: 19px;
        top: 12px;
        cursor: pointer;
      }
    }

    .doctor-list-container {
      position: absolute;
      background-color: white;
      width: 100%;
      height: 100%;
      z-index: 1000;
      flex-direction: column;
      justify-content: flex-end;
      .line-1 {
        height: 1px;
        width: 100%;
        background: $violetPrimary;
      }
    }

    .listButtonContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      z-index: 100;
      bottom: 17px;
      width: 100%;
      padding-left: 12px;
      padding-right: 12px;
      &:hover {
        cursor: pointer;
      }
      .listButton {
        display: flex;
        justify-content: flex-start;
        gap: 20px;
        align-items: center;
        height: 66px;
        background-color: white;
        border-radius: 12px;
        width: 100%;
        padding: 20px 30px;
        font-size: 16px;
        font-weight: 500;
        color: $violetDisable;
      }
    }

    .google-map-icon {
      width: 35px;
      height: 42px;
      position: absolute;
      top: -35px;
      left: -21px;

      &.active {
        width: 55px;
        height: 63.4px;
        z-index: 1000;
        top: -55px;
        left: -33px;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  @media (min-width: $desktopMinWidth) {
    width: 100%;
  }
}
.popover {
  padding: 1vh;
  p {
    font-size: 12px;
    line-height: 16px;
  }
}
