@use '../variables' as *;

.heading-with-colored {
  h1,
  h2 {
    text-transform: uppercase;
    margin: 0;
    line-height: 0.97;
    span {
      position: relative;
      padding: 2px 2px;
      color: white;
      display: inline-block;

      .bg-span {
        background-color: $turquoisePrimary;
        position: absolute;
        border-radius: 8px;
        width: 100%;
        top: -5%;
        left: 0px;
        bottom: 10%;
      }

      @supports (-webkit-touch-callout: none) {
        .bg-span {
          top: 1%;
          bottom: 8%;
        }
      }

      .yellow {
        background-color: $yellowSecondary;
      }

      div {
        position: relative;
      }
    }

    // span {
    //   display: inline-block;
    //   background-color: $turquoisePrimary;
    //   border-radius: 8px;
    //   padding-top: 8px;
    //   color: white;
    // }

    @media (min-width: $desktopMinWidth) {
      line-height: 0.87;
    }
  }
  &.bigSpanBg {
    h1,
    h2 {
      span {
        padding: 4px 2px;

        @media (min-width: $desktopMinWidth) {
          padding: 8px 2px;
        }
      }
    }
  }
}
