@use '../variables' as *;

$headerHeight: 80px;
$headerDesktopHeight: 120px;

[data-summary] {
  scroll-margin-top: $headerHeight;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: solid 2px $violetPrimary;
  padding: 0 1em;
  z-index: 99999;

  height: $headerHeight;
  & ~ main {
    padding-top: $headerHeight;
  }

  .menu-icon-open,
  .menu-icon-close {
    cursor: pointer;
  }

  .logo {
    width: 62px;
    height: 60px;

    img {
      width: 100%;
    }
  }

  .mobile-menu {
    position: fixed;
    top: $headerHeight;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $violetBackground;
    z-index: 999999;
    overflow: scroll;

    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;

      li {
        margin-left: 1.4em;

        a,
        a:hover {
          color: inherit;
          text-decoration: none;
        }
      }

      hr {
        margin: 1em 0;
        color: $violetPrimary;
      }
    }

    .main-separator {
      margin: 0.1em 20px;
      color: $violetPrimary;
    }

    .accordion-body {
      color: #6039ab;
      background-color: $violetBackgroundDark;
    }

    .accordion-button,
    .menu-link {
      color: #6039ab;
      background-color: $violetBackground;

      &:focus {
        border: none;
        box-shadow: none;
        border-color: rgba(0, 0, 0, 0.125);
      }

      &.collapsed {
        &:after {
          filter: invert(24%) sepia(43%) saturate(2357%) hue-rotate(239deg)
            brightness(95%) contrast(96%);
        }
      }
    }

    .menu-link {
      text-decoration: none;
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      padding: var(--bs-accordion-btn-padding-y)
        var(--bs-accordion-btn-padding-x);
      font-size: 1rem;
      font-weight: 700;
    }

    .accordion-button:not(.collapsed) {
      color: #6039ab;
      &:after {
        background-image: var(--bs-accordion-btn-icon);
        filter: invert(24%) sepia(43%) saturate(2357%) hue-rotate(239deg)
          brightness(95%) contrast(96%);
      }
    }

    .accordion-item {
      border: none;
    }
  }
}

@media (min-width: $desktopMinWidth) {
  [data-summary] {
    scroll-margin-top: $headerDesktopHeight;
  }

  header {
    height: $headerDesktopHeight;
    justify-content: center;
    padding: 0;
    border-width: 1px;

    & ~ main {
      padding-top: $headerDesktopHeight;
    }

    nav {
      all: initial;
    }
    .main-container {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      height: 60px;
    }
    .logo {
      margin-right: 40px;
      width: 85px;
      height: 81.78px;

      img {
        width: 100%;
        height: 100%;
      }
    }
    .mega-menu-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;

      .menu-item {
        padding: 0 30px;
        height: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        position: relative;

        &:hover,
        &.active {
          background-color: #efebf7;
        }

        &.empty {
          border-radius: 20px;
        }

        .quote {
          color: $violetPrimary;
          font-size: 18px;
        }

        a {
          text-decoration: none;
        }

        .mega-menu {
          background-color: #efebf7;
          position: absolute;
          left: 0;
          top: 100%;
          padding: 30px 55px;
          padding-top: 55px;
          z-index: 20;

          a {
            text-decoration: none;
          }

          &:not(.hidden) {
            display: flex;
            justify-content: center;
          }

          border-radius: 20px;

          &.left-edge {
            border-top-left-radius: 0;
          }

          &.right-edge {
            border-top-right-radius: 0;
          }

          .separator {
            width: 1px;
            height: 65px;
            margin: 0 37px;
            background-color: white;
            margin-top: 25px;
            flex-shrink: 0;
          }

          .mega-menu-item-conainer {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            min-width: 150px;

            .quote {
              text-align: center;
              font-size: 18px;
              text-decoration: none;
              color: $violetPrimary;
              margin-top: 27px;
            }

            .image {
              border-radius: 100%;
              -webkit-mask-image: -webkit-radial-gradient(
                white,
                black
              ); // safari fix for square images
              width: 100px;
              height: 100px;
            }
          }
        }
      }
    }
  }
}
