@use '../variables' as *;

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  .heading-with-colored {
    align-self: flex-start;
  }
  .image {
    position: relative;
    margin-top: 40px;
    z-index: 1;
    width: 271px;
    height: 271px;
  }

  .children {
    margin-top: 122px;
    margin-bottom: 5em;
  }

  .circle {
    margin-top: -5em;
  }
}

@media (min-width: $desktopMinWidth) {
  .hero {
    flex-direction: row;
    position: relative;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 0;
    padding: 80px 0;
    padding-bottom: 90px;

    &::after {
      @include backgroundOverlay(-4);
      background-color: white;
    }

    .heading-with-colored {
      position: relative;
      z-index: 2;
    }

    .image {
      margin-bottom: 0;
      margin-left: -1em;
      width: 514px;
      height: 514px;
    }

    p {
      max-width: 510px;
      font-size: 22px;
      line-height: 1.45;
      margin-right: 30px;
      margin: 5em;
    }
  }
}
