@use '../variables' as *;

.imageWithText {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;

  .text > * {
    margin-top: 20px;
  }

  .image {
    width: 271px;
    height: 271px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .text {
    padding: 0;

    & > a {
      display: block;
    }

    button {
      margin-right: auto;
      margin-left: auto;
    }
  }

  &.reverse {
    flex-direction: column-reverse;
    margin-top: 0;

    .image-container {
      margin-top: 20px;
    }
  }

  @media (min-width: $desktopMinWidth) {
    flex-direction: row;
    margin-top: 30px;
    &.reverse,
    &.desktopReverse {
      flex-direction: row-reverse;
      margin-top: 30px;

      .image-container {
        margin-top: 0;
      }

      .image {
        margin-right: 0;
        margin-left: 20px;
      }
    }

    .image-container {
      margin-top: 0;
    }

    padding-left: 120px;
    padding-right: 120px;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    .image {
      margin-right: 20px;
      margin-left: 0;
    }
    .text,
    .image {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .text {
      display: flex;
      flex-direction: column;
      // gap: 30px;
      padding-left: 30px;
    }

    .image {
      width: 380px;
      height: 380px;
    }

    .responeImageWrapper {
      width: 380px;
      height: 380px; //FIXME: make it with min-width after we get desktop picture
    }
  }
}
