@use '../variables' as *;

.infoCircle {
  width: 442px;
  height: 442px;
  padding: 67.7px 72px 91.7px 80px;
  background-color: white;
  border-radius: 100%;

  .infoConainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .item {
      display: flex;
      gap: 23px;
      align-items: center;

      .textContainer {
        display: flex;
        flex-direction: column;
        .header {
          font-weight: 900;
          line-height: 1.44;
          text-align: left;
        }
        .text {
          font-weight: 500;
        }
      }
    }
  }

  @media (min-width: $desktopMinWidth) {
    background-color: #eeeaf6;
    padding: 87.7px 72px 91.7px 80px;
  }
}
