@use '../variables' as *;

.socialMediaContainer {
  .cardText {
    padding-top: 60px;
    padding-bottom: 40px;
    font-size: 18px;
    margin: 0 auto;
    color: $violetDisable;
  }

  button {
    align-self: flex-start;
  }
  .socialMediaLink {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 25px;
    margin-bottom: 25px;
    gap: 10px;
    p {
      font-size: 16px;
      font-weight: 900;
      transform: translateY(-10%);
    }

    img {
      width: 20px;
      fill: pink;
      height: 20px;
    }
  }

  h2 {
    color: $violetPrimary;
    font-size: 45px;
    text-align: left;

    @media (min-width: $desktopMinWidth) {
      font-size: 62px;
    }
  }

  .hashTag {
    padding-bottom: 40px;
    font-size: 16px;
    align-self: flex-start;
    color: $violetLink;
    font-weight: 700;
  }

  .timeContainer {
    display: flex;
    gap: 10px;
    margin-top: 10px;

    .text {
      color: $violetPrimary;
      font-weight: 900;
      font-size: 14px;
    }
    .time {
      color: $violetPrimary;
      font-size: 14px;
    }
  }

  .latestInstagramImage {
    display: flex;
    justify-content: center;
    img {
      width: 294px;
      border-radius: 20px;

      @media (min-width: $desktopMinWidth) {
        width: 414px;
      }
    }
  }
}
