@use '../variables' as *;

.wrenchContainer {
  display: flex;
  flex-direction: column;
  .reasons {
    padding-top: 60px;
    .reasons_list {
      padding-left: 17px;

      li::before {
        content: '•';
        margin: 0 9px;
        color: #5fe2e3;
        font-size: 19px;
      }
      ul {
        list-style: none;
        font-size: 14px;
      }

      h4 {
        font-size: 14px;
        font-weight: 900;
      }
    }
  }
  .headlineWrench {
    font-size: 45px;
    margin-top: 20px;

    @media (min-width: $desktopMinWidth) {
      font-size: 75px;
      margin-top: 40px;
    }
  }
  .textConainer {
    .heading-with-colored {
      h2 {
        font-size: 55px;
        @media (min-width: $desktopMinWidth) {
          font-size: 120px;
        }
      }
    }
    .havas-button {
      button {
        font-size: 25px;
        @media (min-width: $desktopMinWidth) {
          font-size: 16px;
        }
      }
    }
  }
  .imageContainer {
    img {
      width: 345px;
      height: 345px;
    }
  }

  @media (min-width: $desktopMinWidth) {
    flex-direction: row-reverse;
    margin-bottom: 0 !important;
    h1,
    h2 {
      text-align: left;
    }
    .reasons {
      display: flex;
      .reasons_list {
        h4 {
          width: 303px;
        }
      }
    }

    .imageContainer {
      width: 50%;
      img {
        width: 690px;
        height: 690px;
      }
    }
    .textConainer {
      width: 50%;
    }
  }
  margin-top: 0;
  @media (min-width: $desktopMinWidth) {
    margin-top: 80px;
  }
}
