@use '../variables' as *;

.patient-login {
  color: $violetPrimary;

  .headerLogin {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 45px;
    font-size: 45px;
    @media (min-width: $desktopMinWidth) {
      margin-top: 40px;
      font-size: 56px;
    }
  }

  .textLogin {
    margin: 0 auto;
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 900;
  }
  input {
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    border: 1px solid;
    outline: 0;
    padding: 11px;
    font-size: 18px;
  }

  input,
  .textLogin {
    width: 280px;
    @media (min-width: $desktopMinWidth) {
      width: 495px;
    }
  }

  .havas-button {
    margin-top: 12px;
    margin-bottom: 50px;
    .primary-button {
      margin: 0 auto;
    }
  }

  .patient-login-button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 30px;
    cursor: pointer;

    .quote {
      color: $violetPrimary;
      font-size: 14px;
      margin-left: 5px;
    }
  }

  .popUpContainer {
    left: 50%;
    position: fixed !important;
    top: 110px;
    transform: translateX(-50%);
    width: 100%;
    border-radius: 10px;
    z-index: 1000;
    background-color: white;
    overflow-y: auto;
    max-height: 85vh;
    opacity: 1;
    transition: opacity 0.5s;

    .patient-icon-close {
      position: absolute;
      top: 11px;
      right: 11px;
      cursor: pointer;
    }

    &.hidden {
      visibility: hidden;
      opacity: 0;
    }

    @media (min-width: $desktopMinWidth) {
      top: 150px;
      width: 634px;
    }
  }

  .infoContainer {
    margin: 0 35px;
    position: relative;
    padding: 30px;
    background-color: $violetBackground;
    border-radius: 10px;
    padding: 20px;
    p {
      margin-top: 8px;
      font-size: 14px;
      @media (min-width: $desktopMinWidth) {
        font-size: 16px;
        font-weight: 300;
      }
    }
    h4 {
      font-size: 22px;
      font-weight: 900;
    }
    img {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 50px;
      height: 50px;
    }
    @media (min-width: $desktopMinWidth) {
      display: flex;
      flex-direction: row-reverse;
      gap: 10px;

      img {
        position: static;
        width: 100px;
        height: 100px;
      }
    }
    margin-bottom: 40px;
  }

  .overlay {
    position: fixed;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: $violetBackground;
    opacity: 0.9;
    transition: opacity 0.5s;

    &.hidden {
      visibility: hidden;
      opacity: 0;
    }

    @media (min-width: $desktopMinWidth) {
      top: 120px;
    }
  }

  @media (min-width: $desktopMinWidth) {
    display: flex;
    flex-direction: row-reverse;
  }
}
