@use '../variables' as *;

.podcast {
  .singlePod {
    border: 0px;
    overflow-y: hidden;
    transition: height 100ms linear 0s;
    min-width: 100%;
    height: 426.424px;
    max-height: 426.424px;

    @media (min-width: $desktopMinWidth) {
      border: 0px;
      overflow-y: hidden;
      transition: height 100ms linear 0s;
      min-width: 100%;
      height: 384.444px;
      max-height: 384.444px;
    }
    margin-bottom: 1rem;
  }

  .podcast-frame {
    max-width: 950px;
    margin: 0 auto;
  }
  h2 {
    text-align: start;
  }
  .sub-header {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    margin-bottom: 2em;
    align-items: center;
    img {
      height: 31px;
      width: 21px;
    }
    p {
      margin: auto;
      margin-left: 10px;
      font-weight: 900;
      line-height: 26px;
    }
  }
}
