@use '../variables' as *;

.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.1);

  .container {
    position: relative;
    width: 335px;
    height: 98vh;
    max-height: 700px;
    margin: auto;
    margin-top: 1vh;
    padding: 25.2px 20px 12.9px;
    border-radius: 20px;
    background-color: white;

    @media (min-width: $desktopMinWidth) {
      width: 560px;
      padding: 20px 60px;
      max-height: 620px;
    }

    .popup-icon-close {
      position: absolute;
      top: 23px;
      right: 23px;
    }

    .heading-with-colored {
      margin-top: 30px;
      color: $violetPrimary;
    }

    p {
      margin-top: 15px;
      color: $violetDisable;
      font-size: 16px;
      line-height: 22px;
      @media (min-width: $desktopMinWidth) {
        font-size: 18px;
      }
    }

    .button-container {
      .havas-button {
        button {
          margin: auto;
        }
        margin-top: 30px;
        .primary-button {
          width: 138px;
        }
      }

      @media (min-width: $desktopMinWidth) {
        display: flex;
        gap: 20px;
        align-items: center;
        margin-top: 40px;

        .havas-button {
          margin: 0;
        }
        .tertiary-button {
          color: $violetPrimary;
        }
      }
    }
  }

  .popupHeading {
    h2 {
      line-height: 1.15;

      @media (min-width: $desktopMinWidth) {
        line-height: 1.09;
      }
    }
  }
}
