@use '../variables' as *;

.quicklink-mobile-menu {
  position: fixed;
  padding: 0.5em;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #f8f6f6;
  color: $violetPrimary;
  .quicklink-box {
    height: 6em;
    font-size: 13px;
    font-weight: 600;
    p {
      font-size: 12px;
    }
  }
  .quicklink-icon {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: $desktopMinWidth) {
  .quicklink-desktop-menu {
    border: 2px solid $violetPrimary;
    border-radius: 15px;
    border-right: none;
    width: 300px;
    position: fixed;
    padding: 0.5em;
    top: 300px;
    right: -200px;
    padding-bottom: 0px;
    background-color: #f7f7f7;
    color: $violetPrimary;
    transition: 400ms;
    .quicklink-icon {
      width: 50px;
      height: 50px;
    }
    .quicklink-box {
      :hover {
        cursor: pointer;
      }
      justify-content: center;
      height: 5em;
      font-size: 13px;
      font-weight: 600;
    }
  }
  .quicklink-desktop-menu:hover {
    right: -20px !important;
  }
}
