@use '../variables' as *;

.slider {
  button {
    align-self: flex-start;
    img {
      width: 26.3px;
      height: 30px;
    }
  }
  strong {
    font-weight: 900;
  }
  .desktop-content {
    display: flex;
    width: 918px;
    background-color: #eeeaf6;

    justify-content: space-between;

    .desktop-item {
      width: 321px;
      position: relative;

      .imageTextContainer {
        position: absolute;
        z-index: 100;
        left: 20px;
        top: 23px;
        line-height: 1;
        letter-spacing: normal;
        text-align: left;
        color: $violetPrimary;
        span {
          background-color: #facf05;
          border-radius: 4px;
          font-size: 12px;
          font-weight: bold;
          padding: 0 2px;
        }

        &.blue {
          span {
            background-color: #5fe2e3;
          }
        }
      }

      @media (min-width: $desktopMinWidth) {
        width: 444px;
      }
    }
  }
  .image {
    border-radius: 20px;
  }
  .gatsby-image-wrapper.gatsby-image-wrapper-constrained {
    img {
      height: auto;
      max-height: 100%;
      top: auto;
      object-fit: contain !important;
    }
  }

  .slider-text {
    h3,
    p {
      margin: 0 20px;
    }

    h3 {
      color: $violetPrimary;
      font-size: 20px;
      margin-top: 40px;
      width: auto;
      @media (min-width: $desktopMinWidth) {
        margin-top: 0;
      }
    }
    .text-wrapper {
      width: 50%;

      h3 {
        margin-left: 0;
        margin-bottom: 15px;
        text-align: left;
      }
    }
    p {
      min-height: 100px;
      color: $violetDisable;
      margin-top: 20px;
    }

    strong {
      font-size: 20px;
      color: $violetPrimary;
      font-weight: 900;
    }

    .subHeading {
      font-size: 14px;
      color: black;
      min-height: 0;
      margin-top: 40px;

      & + h3 {
        margin-top: 15px;
      }
    }
  }

  .button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 20px;

    p {
      margin: 0;
    }
  }

  &.special {
    .heading {
      font-size: 18px;
      font-weight: 900;
      color: $violetDisable;
      line-height: 1.44;
    }
    .havas-button {
      button {
        font-size: 18px;
      }
    }
  }
}
