@use '../variables' as *;

.teaser {
  padding: 30px 13px;
  background-color: $violetPrimary;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 316px;

  .imageHolder {
    max-height: 200px;
    width: 200px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }

  p {
    color: white;
    text-align: center;
    margin: 0;
    font-size: 16px;
    margin-top: 40px;
  }

  h2 {
    font-size: 45px;
    text-transform: uppercase;
    text-align: center;
  }

  button {
    margin: auto;
    margin-top: 30px;
  }

  @media (min-width: $desktopMinWidth) {
    position: relative;

    flex-direction: row;
    justify-content: center;

    width: 100%;

    border-radius: 0;

    &.reversed {
      flex-direction: row-reverse;

      .imageHolder {
        margin-left: 75px;
      }
    }

    &:not(.reversed) {
      .imageHolder {
        margin-right: 75px;
      }
    }

    &::after {
      @include backgroundOverlay(-1);
      background-color: $violetPrimary;
    }

    & > div {
      max-width: 422px;
    }

    .imageHolder {
      width: 100%;
      height: 33.5vw;
      max-height: 428px;
      margin-bottom: 0;
    }

    h2 {
      font-size: 62px;
      text-align: left;
    }

    button {
      margin: 0;
      margin-top: 30px;
      background-color: $yellowPrimary;
    }

    p {
      max-width: 300px;
      text-align: left;
    }
  }
}
