@use '../variables' as *;

.teledermatologieComponent {
  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 294px;
    background-color: white;
    height: 160px;
    border-radius: 20px;

    @media (min-width: $desktopMinWidth) {
      width: 366px;
      height: 176px;
    }
  }
  .und {
    font-family: CairoliNow;
    font-size: 24px;
    font-weight: 900;
    font-stretch: condensed;
    font-style: normal;
    text-transform: uppercase;
    color: $violetDisable;
  }
  .btnContainer {
    display: flex;
    justify-content: center;
  }
  @media (min-width: $desktopMinWidth) {
    .grid-desktop {
      display: grid;
      grid-template-columns: 366px 366px 366px;
      gap: 32px;
      row-gap: 60px;
    }

    .itemContainer {
      display: flex;
      flex-direction: column;
      .high-header{
        min-height: 120px!important;
      }
      .low-header{
        min-height: 50px!important;
      }
      .teledermatologie-first-paragraph{
        min-height: 130px!important;
      }
      .teledermatologie-second-paragraph{
        min-height: 300px!important;
      }
    }
  }
}
