@use '../variables' as *;

.ProgressBar {
  background-color: $violetBackgroundDark;

  position: fixed;
  width: 100%;
  z-index: 100;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;

  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: space-between;
  @media (max-width: $desktopMinWidth) {
    display: none;
  }

  a,
  a:hover,
  a:visited {
    text-decoration: none;
  }
}

.ProgressBar.hide {
  transform: translateY(-200px);
}

.ProgressBar-step {
  text-align: center;
  position: relative;
  width: 100%;

  &:after {
    margin-bottom: 50px;
  }

  &:before,
  &:after {
    content: '';
    height: 4px;
    background-color: white;
    position: absolute;
    z-index: 1;
    width: 100%;
    left: -50%;
    top: 14.6px;
    transform: translateY(-20%);
    transition: all 0.25s ease-out;
  }

  &:first-child:before,
  &:first-child:after {
    display: none;
  }

  &:after {
    background-color: $violetPrimary;
    width: 0%;
  }

  &.is-complete + &.is-current:after,
  &.is-complete + &.is-complete:after {
    width: 100%;
  }
}

.ProgressBar-icon {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  max-width: 100%;
  z-index: 10;
  position: relative;
  transition: all 0.25s ease-out;

  .is-current & {
    font-weight: bold;
    background-color: $violetPrimary;
  }

  .is-complete & {
    fill: white;
    background-color: $violetPrimary;
  }
}

.ProgressBar-stepLabel {
  display: block;
  color: $violetPrimary !important;
  line-height: 1.5;
  font-family: 'MuseoSans';
  margin-bottom: 14px;
  text-decoration: none;
  padding-top: 10px;
  font-size: 10px;
  width: 100%;
  transition: all 0.25s ease-out;
  &:after {
    margin-bottom: 50px;
  }

  &:hover {
    cursor: pointer;
  }

  .is-current > & {
    font-weight: bold;
  }

  .is-current > &,
  .is-complete > & {
    color: $violetPrimary;
  }
}
.mobileThemen {
  width: 331px;
  margin-bottom: 40px;
  margin-top: 40px;
  .themenubersicht {
    .roundBottom {
      border-radius: 40px 40px 0 0;
    }
    .cardTittle {
      margin-bottom: 0;
      margin-top: 9px;

      color: white;

      font-family: 'MuseoSans';
      font-size: 24px;
      font-weight: 700;
    }
    .buttonContainer {
      img {
        width: 20px;
        height: 16px;
      }
      button {
        transform: translateY(-5%);
      }
    }
    .card {
      border-radius: 0 0 40px 40px !important;
    }
    .listItem {
      margin-top: 10px;
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      a {
        color: $violetLink;
        text-decoration: underline;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  @media (min-width: $desktopMinWidth) {
    display: none;
  }
}
