@use '../variables' as *;

.tipps-round-box {
  position: relative;
  width: 314px;
  height: 314px;
  background-color: $turquoiseLight;
  padding: 50px 40px 72px 60px;
  color: $violetDisable;
  border-radius: 157px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  justify-content: center;

  .tippsImage {
    position: absolute;
    left: 10px;
    bottom: -50px;
  }

  .headline {
    color: $violetPrimary;
    font-size: 24px;
    text-transform: uppercase;
    font-family: CairoliNow;
    font-weight: 900;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
  }

  p {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.41;
    letter-spacing: -0.38px;
  }

  @media (min-width: $desktopMinWidth) {
    width: 566px;
    height: auto;
    padding: 39px 103px 47.7px 108px;
    border-radius: 103.6px !important;
    p {
      font-size: 18px;
      letter-spacing: -0.43px;
    }

    .tippsImage {
      left: 30px;
      bottom: -50px;
    }
  }
}
