@use '../variables' as *;

.youTubeContainer {
  h2 {
    color: $violetPrimary;
    margin-bottom: 35px;
    text-align: left;
  }

  .iframeAbsolute {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }

  .frame {
    width: 357px;
    aspect-ratio: 16/9;
    border-radius: 20px;

    @media (min-width: $desktopMinWidth) {
      width: 100%;
    }
  }

  .youTubeLink {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 20px;
    span {
      font-size: 16px;
      color: $violetLink;
      font-weight: 900;
    }
    img {
      width: 24px;
      height: 17px;
    }
  }

  p {
    padding-top: 30px;
    color: $violetDisable;
  }

  button {
    margin-top: 26px;
  }

  .timeContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 240px;

    .text {
      color: $violetPrimary;
      font-weight: 900;
      font-size: 14px;
    }
    .time {
      color: $violetPrimary;
      font-size: 14px;
    }

    @media (min-width: $desktopMinWidth) {
      margin-top: 20px;
    }
  }
}
