@use '../variables' as *;

.zitat-box {
  position: relative;
  margin-bottom: 25px;

  .circle-background {
    background-color: $turquoiseBackground;
  }

  p {
    width: 285px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: $violetPrimary;
  }

  .children {
    margin: 115px 0;
  }

  .image {
    width: 150px;
    height: 150px;

    position: absolute;
    top: 65%;
    left: -14%;

    img {
      width: 100%;
    }
  }

  @media (min-width: $desktopMinWidth) {
    margin-bottom: 0;
    
    .circle {
      background-color: $turquoiseBackground;
      max-width: 350px;
      max-height: 350px;
    }

    .image {
      left: -12%;
    }
  }
}
