/* -------------------
BEGIN bootstrap-variables-mixins 
Sitecore Resource: f22492b5-0a68-4590-b219-e13c377f7994
   -------------------*/
/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/* -------------------
BEGIN variables-mixins 
Sitecore Resource: e700946f-25c3-40f5-aa8e-5256d77d0b16
   -------------------*/
/*** colors ***/
/* -------------------
BEGIN about-dupixent 
Sitecore Resource: 1e3efcf2-ddbd-4600-b8e3-57c00dab42c5
   -------------------*/

@media (max-width:991px) {
  body {
    background: url('../../../media/EMS/Conditions/Dermatology/Brands/Ad-Revealed-DE/Typ2-Inflammation-De/backgrounds/chev-bg.png') right top no-repeat;
  }
}
.hero {
  background: url('../../../media/EMS/Conditions/Dermatology/Brands/Ad-Revealed-DE/Typ2-Inflammation-De/backgrounds/hero-bg-1.png') center top no-repeat;
}
@media (max-width:991px) {
  .hero {
    background-size: 200%;
    background-position-x: -160px;
  }
}
@media (max-width:767px) {
  .hero {
    background-size: 200%;
    background-position-x: -70px;
  }
}
body.type2_dupixent .indicator {
  background-color: #009877;
  position: absolute;
  width: 3px;
  height: 72px;
  left: 240px;
  top: 0;
  transform: translateY(-72px);
  transition: transform 500ms cubic-bezier(0, 0, 0.2, 1);
}
body.type2_dupixent .indicator:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -10px;
  border: 10px solid transparent;
  border-left-color: #009877;
}
body.type2_dupixent .active .type-img {
  opacity: 1;
}
body.type2_dupixent .skin-conditions {
  padding-bottom: 150px;
  float: left;
}
@media (max-width:991px) {
  body.type2_dupixent .skin-conditions {
    float: none;
  }
}
body.type2_dupixent .skin-conditions .carousel-inner {
  width: 315px;
  height: 315px;
  overflow: visible;
}
@media (max-width:991px) {
  body.type2_dupixent .skin-conditions .carousel-inner {
    width: 260px;
    height: 260px;
    margin: 0 auto;
  }
}
body.type2_dupixent .skin-conditions .item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}
body.type2_dupixent .skin-conditions .item img {
  opacity: 0;
  transition: opacity 0ms 1000ms ease-in-out;
}
body.type2_dupixent .skin-conditions .item .carousel-caption {
  position: absolute;
  top: 100%;
  padding-top: 10px;
  left: 0;
  right: 0;
  color: inherit;
  text-shadow: none;
  opacity: 0;
  transition: all 500ms cubic-bezier(0.55, 0.06, 0.68, 0.19);
  transform: translateY(20px);
  font-weight: bold;
}
body.type2_dupixent .skin-conditions .item .carousel-caption span {
  font-weight: normal;
}
body.type2_dupixent .skin-conditions .item.active {
  z-index: 1;
}
body.type2_dupixent .skin-conditions .item.active img {
  opacity: 1;
  transition-delay: 0ms;
  transition-duration: 1000ms;
}
body.type2_dupixent .skin-conditions .item.active .carousel-caption {
  bottom: 0;
  opacity: 1;
  transition-delay: 500ms;
  transform: translateY(0px);
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}
body.type2_dupixent .skin-types {
  text-align: left;
  position: relative;
  min-height: 260px;
}
@media (min-width:992px) {
  body.type2_dupixent .skin-types {
    border-left: 3px solid #cfdc28;
  }
}
@media (min-width:992px) {
  body.type2_dupixent .type-img {
    position: absolute;
    top: 0;
    right: 100%;
    transition: opacity 500ms;
    opacity: 0;
    width: 240px;
  }
}
body.type2_dupixent .type-img img {
  display: block;
  margin: 0 auto;
}
@media (min-width:992px) {
  body.type2_dupixent .type-img img {
    margin-left: 0;
  }
}
.active body.type2_dupixent .type-img {
  opacity: 1;
  z-index: 1;
}
body.type2_dupixent .type-label {
  margin: 50px 0 60px;
  position: relative;
}
@media (min-width:992px) {
  body.type2_dupixent .type-label {
    margin: 0 0 20px;
    padding: 10px 0 10px 50px;
    cursor: pointer;
  }
}
@media (min-width:992px) {
  .active body.type2_dupixent .type-label strong {
    color: #009877;
  }
}
body.type2_dupixent #type-carousel {
  margin: 40px 0;
}
@media (min-width:992px) {
  body.type2_dupixent #type-carousel {
    padding-left: 240px;
    margin: 70px 0 0;
    overflow: hidden;
    min-height: 320px;
  }
}
body.type2_dupixent .media .media-left {
  min-width: 240px;
}
body.type2_dupixent .section-about-travel {
  overflow: hidden;
}
@media (max-width:991px) {
  body.type2_dupixent .section-about-travel h3 {
    font-size: 30px;
    line-height: 1.5em;
  }
}
body.type2_dupixent .section-about-travel ul li:before {
  background-color: white;
}
body.type2_dupixent .section-about-travel .container {
  position: relative;
}
body.type2_dupixent .section-about-travel .container:before {
  content: url('../../../media/EMS/Conditions/Dermatology/Brands/Ad-Revealed-DE/Typ2-Inflammation-De/page-icons/plane.png');
  position: absolute;
  bottom: 180px;
  left: -130px;
}
body.type2_dupixent .section-about-travel .container .score-page {
  position: relative;
  z-index: 1;
}
body.type2_dupixent .section-about-travel .container:after {
  content: url('../../../media/EMS/Conditions/Dermatology/Brands/Ad-Revealed-DE/Typ2-Inflammation-De/page-icons/ship.png');
  position: absolute;
  top: 180px;
  right: -60px;
}
body.type2_dupixent .section-how-to-store {
  padding: 0 0 60px 0;
}
/*body.about-dupixent.type2_dupixent a:active, body.type2_dupixent a:hover, body.type2_dupixent a:visited {
    color: #fff;
}*/

