/* -------------------
BEGIN bootstrap-variables-mixins 
Sitecore Resource: f22492b5-0a68-4590-b219-e13c377f7994
   -------------------*/
/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/* -------------------
BEGIN variables-mixins 
Sitecore Resource: e700946f-25c3-40f5-aa8e-5256d77d0b16
   -------------------*/
/*** colors ***/
/* -------------------
BEGIN dupixent-support-and-benefits 
Sitecore Resource: 89ffb7ad-f941-4c99-b347-633c007a07a2
   -------------------*/

body.type2_dupixent .pageWrapper ul.chevron-list li {
  margin: 15px 0 !important;
}
body.type2_dupixent ol {
  padding: 0;
  margin-bottom: 65px;
}
body.type2_dupixent .hero {
  background: url('../../../media/EMS/Conditions/Dermatology/Brands/Ad-Revealed-DE/Typ2-Inflammation-De/backgrounds/hero-bg-2.png') center top no-repeat;
}
@media (max-width:991px) {
  body.type2_dupixent .hero {
    background: none;
  }
}
body.type2_dupixent .hero:after {
  background: url('../../../media/EMS/Conditions/Dermatology/Brands/Ad-Revealed-DE/Typ2-Inflammation-De/backgrounds/hero-bg-2.png') center top no-repeat;
}
@media (max-width:991px) {
  body.type2_dupixent .hero:after {
    left: -50%;
  }
}
@media (max-width:767px) {
  body.type2_dupixent .hero:after {
    left: -100%;
  }
}
@media (max-width:991px) {
  body.type2_dupixent .section-swans-down img {
    width: 125px;
    padding: 30px 0;
  }
}
@media (max-width:991px) {
  body.type2_dupixent .section-swans-down h3 {
    font-size: 30px;
    line-height: 1.2;
  }
}
body.type2_dupixent .section-white h4 {
  color: #cfdc28;
  text-transform: uppercase;
}
body.type2_dupixent .section-what-to-expect {
  overflow: hidden;
}
body.type2_dupixent .section-what-to-expect h3 {
  color: #cfdc28;
  margin-top: 0;
}
body.type2_dupixent .section-what-to-expect .img-responsive {
  margin-bottom: 10px;
}
@media (max-width:991px) {
  body.type2_dupixent .section-what-to-expect ol > li {
    padding: 0 0 0 20px;
  }
}
@media (max-width:991px) {
  body.type2_dupixent .section-what-to-expect ol > li:before {
    position: absolute;
    left: 15px;
  }
}
body.type2_dupixent .section-what-to-expect ol > li > ul > li {
  padding-left: 35px;
}
@media (min-width:992px) {
  body.type2_dupixent .section-what-to-expect ol > li > ul > li {
    padding-left: 55px;
  }
}
body.type2_dupixent .section-what-to-expect ol > li > ul > li:before {
  background-color: #cfdc28;
  margin-left: 22px;
}
body.type2_dupixent .section-what-to-expect .container {
  position: relative;
}
body.type2_dupixent .section-what-to-expect .container:before {
  content: '';
  width: 1000px;
  height: 1000px;
  position: absolute;
  background-color: white;
  border-width: 50px;
  border-style: solid;
  border-color: #ffc700;
  transform: rotate(-45deg);
  transform-origin: bottom right;
  bottom: -60px;
  left: -820px;
}
@media (max-width:991px) {
  
}
@media (min-width:992px) {
  
}
@media (min-width:1200px) {
  
}
body.type2_dupixent .section-what-to-expect .container:after {
  content: '';
  width: 80px;
  height: 190px;
  position: absolute;
  z-index: 1;
  background-color: #97c93c;
  border-top-left-radius: 80px;
  transform: rotate(-45deg);
  transform-origin: bottom right;
  bottom: -60px;
  left: 125px;
}
@media (max-width:991px) {
  
}
@media (min-width:992px) {
  
}
@media (min-width:1200px) {
  
}
@media (max-width:991px) {
  body.type2_dupixent .section-what-to-expect .container .text-component {
    padding-bottom: 110px;
  }
}
body.type2_dupixent .helpful-resources {
  position: relative;
}
@media (max-width:991px) {
  
}
@media (min-width:992px) {
  body.type2_dupixent .helpful-resources .container:before {
    content: '';
    width: 1px;
    height: 1000px;
    position: absolute;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: #e5e2e0;
    bottom: 30px;
    left: 50%;
  }
}
@media (min-width:1200px) {
  
}
@media (min-width:992px) {
  body.type2_dupixent .helpful-resources h2 {
    text-align: center;
  }
}
@media (max-width:991px) {
  body.type2_dupixent .helpful-resources h4 {
    margin-top: 1.2em;
  }
}
@media (max-width:991px) {
  body.type2_dupixent .helpful-resources .media {
    margin-top: 2.5em;
  }
}
@media (max-width:991px) {
  body.type2_dupixent .helpful-resources .tel-link {
    color: #009877 !important;
  }
}
@media (max-width: 991px) {
  body.type2_dupixent .helpful-resources a:active,
  body.type2_dupixent .helpful-resources a:visited,
  body.type2_dupixent .helpful-resources a:hover {
    color: #7c6e66;
  }
}
