/* -------------------
BEGIN bootstrap-variables-mixins 
Sitecore Resource: f22492b5-0a68-4590-b219-e13c377f7994
   -------------------*/
/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/* -------------------
BEGIN variables-mixins 
Sitecore Resource: e700946f-25c3-40f5-aa8e-5256d77d0b16
   -------------------*/
/*** colors ***/
/* -------------------
BEGIN how-dupixent-is-taken 
Sitecore Resource: e73bf28c-ffa2-4177-b5e0-0fb78a22fc5a
   -------------------*/

body.type2_dupixent .intro {
  margin-bottom: 70px;
}
body.type2_dupixent .video-section {
  background-color: #eaf7cc;
}
body.type2_dupixent .video-section .video-wrap {
  margin-top: 40px;
}
body.type2_dupixent .vjs-dock-text .vjs-dock-title {
  display: none !important;
}
body.type2_dupixent .instructions-intro {
  background-color: #40b299;
  color: white;
}
@media (min-width:1200px) {
  body.type2_dupixent .instructions-intro {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width:991px) {
  body.type2_dupixent .instructions-intro {
    text-align: center;
  }
}
body.type2_dupixent .instructions-intro h2,
body.type2_dupixent .instructions-intro .h2 {
  color: inherit;
}
body.type2_dupixent .instructions-controls {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
}
@media (min-width:992px) {
  body.type2_dupixent .instructions-controls {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (max-width:991px) {
  body.type2_dupixent .instructions-controls .step-container-prev {
    display: none;
  }
}
@media (max-width:991px) {
  body.type2_dupixent .instructions-controls .step-container-all {
    height: 52px;
    padding: 17px 20px;
    text-align: center;
  }
}
@media (max-width:991px) {
  body.type2_dupixent .instructions-controls .step-container-next {
    display: none;
  }
}
body.type2_dupixent .instructions-controls .btn {
  min-width: 0;
}
body.type2_dupixent .instructions-controls .btn.next {
  margin-right: 26px;
}
body.type2_dupixent .instructions-controls a:not(.btn) {
  color: #d9f0eb;
  text-decoration: underline;
}
body.type2_dupixent .section.mobile-previous {
  padding: 0 15px;
}
body.type2_dupixent .mobile-previous {
  text-align: center;
}
@media (min-width:992px) {
  
}
body.type2_dupixent .mobile-previous .btn {
  margin-top: 40px;
  margin-bottom: 0;
}
body.type2_dupixent .mobile-previous .btn.invisible {
  display: none;
}
body.type2_dupixent .section.mobile-next {
  padding: 0 15px;
}
body.type2_dupixent .mobile-next {
  text-align: center;
}
@media (min-width:992px) {
  
}
body.type2_dupixent .mobile-next .btn {
  margin-bottom: 40px;
  margin-top: 0;
}
body.type2_dupixent .instructions-list {
  padding-top: 0;
  padding-bottom: 0;
  border-width: 0 1px;
  margin-bottom: -1px;
  counter-reset: diamond-list;
  overflow: hidden;
  height: 0;
  position: relative;
}
@media (max-width:991px) {
  body.type2_dupixent .instructions-list {
    border: none;
    border-width: 0;
  }
}
@media (max-width:991px) {
  body.type2_dupixent .instructions-list p.ref {
    margin: 40px 0;
  }
}
body.type2_dupixent .instructions-list a.show-fewer {
  position: relative;
  top: -50px;
  text-decoration: underline;
}
body.type2_dupixent ol.diamond-ol {
  counter-reset: none;
  margin: 0 0 80px 0;
  padding-top: 1px;
}
body.type2_dupixent ol.diamond-ol:before,
body.type2_dupixent ol.diamond-ol:after {
  content: " ";
  display: table;
}
body.type2_dupixent ol.diamond-ol:after {
  clear: both;
}
body.type2_dupixent ol.diamond-ol > li {
  display: block;
  clear: both;
}
@media (min-width:992px) {
  body.type2_dupixent ol.diamond-ol > li {
    margin: 30px 0 0;
    padding-left: 130px;
  }
}
body.type2_dupixent ol.diamond-ol > li:not(:last-child) {
  padding-bottom: 10px;
}
@media (min-width:992px) {
  body.type2_dupixent ol.diamond-ol > li:not(:last-child) {
    padding-bottom: 50px;
  }
}
body.type2_dupixent ol.diamond-ol > li:before {
  margin: 0;
}
@media (max-width:991px) {
  body.type2_dupixent ol.diamond-ol > li:before {
    float: left;
    position: relative;
  }
}
@media (min-width:992px) {
  body.type2_dupixent ol.diamond-ol > li:before {
    margin: 0 auto;
    top: 20px;
    position: absolute;
    transform: translateY(-50%) rotate(45deg);
    margin: 0;
  }
}
@media (max-width:991px) {
  body.type2_dupixent ol.diamond-ol > li:after {
    top: 15px;
    margin: 0 auto;
  }
}
@media (min-width:992px) {
  body.type2_dupixent ol.diamond-ol > li:after {
    top: 0px;
    margin-top: 0;
  }
}
@media (max-width:991px) {
  body.type2_dupixent ol.diamond-ol > li .h2 {
    margin: 1em 0 1.5em;
    line-height: 1.5em;
    position: relative;
    left: 45px;
  }
}
@media (max-width:767px) {
  body.type2_dupixent ol.diamond-ol > li .h2.two-line {
    margin: 1em 0 1.25em;
    line-height: 1.25em;
  }
}
@media (min-width:992px) {
  body.type2_dupixent .graphic-injection-sites {
    float: right;
    margin: -40px 0 0 50px;
  }
}
body.type2_dupixent .graphic-pinch {
  float: right;
}
@media (min-width:992px) {
  body.type2_dupixent .graphic-pinch {
    margin: -40px 0 0 50px;
  }
}
.how-to-take-dupixent.type2_dupixent .collapsed.transcript-button:after {
  content: '+';
  font-size: 26px;
}
.how-to-take-dupixent.type2_dupixent .transcript-button:after {
  content: '-';
  position: absolute;
  right: 20px;
  font-size: 30px;
  line-height: 26px;
}
@media (max-width: 991px) {
  .how-to-take-dupixent.type2_dupixent .collapse,
  .how-to-take-dupixent.type2_dupixent .collapsing {
    width: calc(100%);
  }
  .how-to-take-dupixent.type2_dupixent .transcript {
    margin: 0 auto;
  }
  body.type2_dupixent .cta-stripe .btn.btn-primary {
    width: 230px;
  }
}
