/* -------------------
BEGIN bootstrap-variables-mixins 
Sitecore Resource: f22492b5-0a68-4590-b219-e13c377f7994
   -------------------*/
/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/* -------------------
BEGIN variables-mixins 
Sitecore Resource: e700946f-25c3-40f5-aa8e-5256d77d0b16
   -------------------*/
/*** colors ***/
/* -------------------
BEGIN home 
Sitecore Resource: e6246e81-d136-4e2a-ae11-1dea10b6955b
   -------------------*/

@media (max-width:991px) {
  body.type2_dupixent .hero {
    padding-bottom: 120px;
  }
}
@media (max-width:991px) {
  body.type2_dupixent .hero .container:before {
    top: 630px;
    left: calc(50% - 800px);
    border-width: 40px 40px 0 0;
  }
}
@media (max-width:767px) {
  body.type2_dupixent .hero .container:before {
    top: 530px;
    left: calc(50% - 710px);
    border-width: 40px 40px 0 0;
  }
}
@media (max-width:991px) {
  body.type2_dupixent .hero .container:after {
    top: 630px;
    left: calc(50% - 808px);
    border-width: 70px 70px 0 0;
  }
}
@media (max-width:767px) {
  body.type2_dupixent .hero .container:after {
    top: 530px;
    left: calc(50% - 715px);
    border-width: 70px 70px 0 0;
  }
}
body.type2_dupixent .section-green-haze,
body.type2_dupixent .section-white,
body.type2_dupixent .cta {
  padding-bottom: 50px !important;
}
@media (min-width:992px) {
  body.type2_dupixent .icon-column {
    text-align: center;
  }
}
@media (min-width:992px) {
  body.type2_dupixent .icon-column .img-responsive {
    display: inline-block;
  }
}
@media (max-width:991px) {
  body.type2_dupixent .cta-stripe .container:before {
    bottom: -65px;
  }
}
@media (max-width:991px) {
  body.type2_dupixent .cta-stripe .container:after {
    bottom: -55px;
  }
}
