/* -------------------
BEGIN bootstrap-variables-mixins 
Sitecore Resource: f22492b5-0a68-4590-b219-e13c377f7994
   -------------------*/
/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/* -------------------
BEGIN variables-mixins 
Sitecore Resource: e700946f-25c3-40f5-aa8e-5256d77d0b16
   -------------------*/
/*** colors ***/
/* -------------------
BEGIN safety 
Sitecore Resource: f62ba442-3f94-4fa6-af0a-68039ca6bfd5
   -------------------*/

body.type2_dupixent .section-white ul li:before {
  background-color: #009877;
}
@media (min-width:992px) {
  body.type2_dupixent .section-swans-down ul li {
    margin: 15px 0 15px -30px;
  }
}
body.type2_dupixent .section-swans-down ul li:before {
  content: url('../../../media/EMS/Conditions/Dermatology/Brands/Ad-Revealed-DE/Typ2-Inflammation-De/shared/list-chevrons.png');
  width: 5px;
  height: 5px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: transparent;
  border-radius: 0;
}
body.type2_dupixent .section-swans-down ul li ul li {
  margin: 15px 0;
}
body.type2_dupixent .section-swans-down ul li ul li:before {
  content: '';
  background-color: #009877;
  top: 0.65em;
}
