/* -------------------
BEGIN bootstrap-variables-mixins 
Sitecore Resource: f22492b5-0a68-4590-b219-e13c377f7994
   -------------------*/
/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/* -------------------
BEGIN variables-mixins 
Sitecore Resource: e700946f-25c3-40f5-aa8e-5256d77d0b16
   -------------------*/
/*** colors ***/
/* -------------------
BEGIN faq 
Sitecore Resource: 45644d44-c2ba-4013-8900-5e6dfd7be485
   -------------------*/

body.type2_dupixent .pageWrapper ul li:before {
  background-color: white;
}
body.type2_dupixent .learn {
  margin-bottom: 60px;
}
body.type2_dupixent .section h2 {
  margin-bottom: 50px;
}
body.type2_dupixent .about-faq,
body.type2_dupixent .support-faq {
  background-color: #eaf7cc;
}
body.type2_dupixent .about-faq .faq-item + hr,
body.type2_dupixent .support-faq .faq-item + hr {
  border-color: white;
}
body.type2_dupixent .dosing-faq {
  background-color: #fcfff5;
}
body.type2_dupixent .dosing-faq .faq-item + hr {
  border-color: #bfe4db;
}
body.type2_dupixent .faq-item {
  padding-left: 80px;
  padding-top: 4px;
  position: relative;
}
@media (max-width:991px) {
  body.type2_dupixent .faq-item {
    padding-left: 50px;
  }
}
body.type2_dupixent .faq-item a.h3 {
  text-decoration: none;
}
body.type2_dupixent .faq-item a.h3 .toggle {
  background-color: #ffc700;
  width: 35px;
  height: 35px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
body.type2_dupixent .faq-item a.h3 .toggle:after,
body.type2_dupixent .faq-item a.h3 .toggle:before {
  content: '';
  width: 18px;
  height: 5px;
  display: block;
  background-color: #7c6e66;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  transition: transform 200ms;
}
body.type2_dupixent .faq-item a.h3 .toggle:after {
  transform: translate(-50%, -50%) rotate(180deg);
}
body.type2_dupixent .faq-item a.h3.collapsed .toggle:after {
  transform: translate(-50%, -50%) rotate(90deg);
}
@media (min-width:992px) {
  body.type2_dupixent .faq-item #how-is-dupixent {
    margin-right: -20px;
  }
}
@media (min-width:1200px) {
  body.type2_dupixent .faq-item #how-is-dupixent {
    margin-right: -60px;
  }
}
@media (min-width:992px) {
  body.type2_dupixent .faq-item #how-is-dupixent .content {
    float: left;
    width: calc(100% - 450px);
  }
}
body.type2_dupixent .faq-item #how-is-dupixent .content + img {
  display: block;
  margin: 1em auto;
  max-width: 100%;
}
@media (min-width:992px) {
  body.type2_dupixent .faq-item #how-is-dupixent .content + img {
    float: right;
  }
}
body.type2_dupixent ul.four-col {
  margin-top: 15px;
}
@media (min-width:992px) {
  body.type2_dupixent ul.four-col {
    column-count: 4;
  }
}
body.type2_dupixent ul.four-col li {
  margin-top: 0;
  padding-left: 12px;
}
body.type2_dupixent ul.four-col li:before {
  background: transparent;
  border: 1px solid;
  width: 6px;
  height: 6px;
}
/*body.frequently-asked-questions.type2_dupixent a:active, body.type2_dupixent a:hover, body.type2_dupixent a:visited {
    color: #fff;
}*/

/*body.frequently-asked-questions.type2_dupixent .faq-item a.h3:active, body.frequently-asked-questions.type2_dupixent .faq-item a.h3:hover, body.frequently-asked-questions.type2_dupixent .faq-item a.h3:visited {
    color: #fff;
}*/

body.type2_dupixent .faq-item #how-is-dupixent .content {
  padding-left: 0;
  padding-top: 25px;
}
body.type2_dupixent .faq-item #how-is-dupixent .content a:hover,
body.type2_dupixent .faq-item #how-is-dupixent a {
  color: #009877;
}
body.frequently-asked-questions.type2_dupixent .hero h1 + p a:active,
body.type2_dupixent .hero h1 + p a:hover,
body.type2_dupixent .hero h1 + p a:visited {
  color: #009877;
}
body.type2_dupixent .faq-item #how-is-dupixent .content p {
  margin-top: 0;
}
@media (max-width: 991px) {
  body.type2_dupixent .faq-item p,
  body.type2_dupixent .faq-item p + a {
    padding: 0 15px;
  }
  body.frequently-asked-questions.type2_dupixent .hero h1 + p a:active,
  body.type2_dupixent .hero h1 + p a:hover,
  body.type2_dupixent .hero h1 + p a:visited {
    color: #009877;
  }
  body.type2_dupixent .faq-item #how-is-dupixent .content {
    padding: 0;
  }
  body.type2_dupixent .faq-item #how-is-dupixent a img.img-responsive {
    padding: 0 15px;
  }
}
