.aerztefinder {
  .centerHeding {
    .heading-with-colored {
      align-self: center;
    }
  }
  .teledermatologieComponent {
    .btnContainer {
      width: 100%;
      a {
        width: 80%;
        button {
          width: 100%;
        }
      }
    }
  }
}
