@use '../variables' as *;

.aeusserliche-therapien {
  h1 {
    margin-left: -25px;
    width: 120%;
  }

  .short-bulletlist {
    height: 300px;
  }
  @media (min-width: $desktopMinWidth) {
    h1 {
      margin-left: -5px;
    }
    .circle {
      width: 650px;
      height: 650px;
    }

    .short-bulletlist {
      height: auto;
    }
  }

  @media (min-width: 1380px) {
    h1 {
      margin-left: -1em;
    }
  }
}
