@use '../variables' as *;

.kinder-behandlung {
  @media (max-width: $desktopMinWidth) {
    .textDown {
      .children {
        margin-top: 70px;
        margin-bottom: 40px;
        margin-left: 8px;
      }
    }
  }
}
