@use '../variables' as *;

.broschueren-und-downloads {
  .crossTeaser {
    .havas-button {
      align-self: center;
    }
    .primary-button {
      img {
        filter: none;
      }
    }
  }

  .crossContainer {
    display: flex;
    flex-direction: column;
    h3 {
      line-height: 29px;
    }

    @media (min-width: $desktopMinWidth) {
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: 20px;
      justify-content: space-between;
      .crossTeaser {
        background-color: $violetBackground;
        width: 367px;
        .havas-button {
          margin-top: auto;
        }
      }
    }
  }

  @media (max-width: $desktopMinWidth) {
    .heroComp {
      .circle {
        width: 375px;
        height: 438.1px;
        margin-top: -6em;
      }
      .children,
      h1 {
        padding-left: 40px;
        padding-right: 40px;
      }
    }
  }
}
