.gesicht {
  .biggerC {
    .circle-background {
      width: 500px !important;
      height: 105%;
    }
    margin-bottom: 10px;

    @supports (-webkit-touch-callout: none) {
      .circle-background {
        height: 112%;
      }
      margin-bottom: 20px;
    }
  }
}
