@use '../variables' as *;

.hand {
    .mobileThemen {
        margin-bottom: 0;
    }
    
    @media(min-width: $desktopMinWidth) {
        .hero {
            .circle {
                width: 750px;
                height: 750px;
            }
        }
    }
}