@use '../variables' as *;

.impressum {
  .headingText {
    margin-right: auto;
    font-weight: 900;
  }
  .contactHeader {
    color: $violetContact;
    margin-right: auto;
    margin-top: 40px;
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
  }
  .dateText {
    margin-right: auto;
    color: $violetPrimary;
    font-size: 14px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
  }

  .contactText {
    margin-top: 0;
    margin-right: auto;
  }

  .parentText {
    margin-top: 0;
  }

  h2 {
    align-self: flex-start;
    text-align: left;
  }

  .heading {
    // margin-right: auto;
    h2 {
      font-size: 60px;
    }

    @media (min-width: $desktopMinWidth) {
      h2 {
        margin-left: 122px;
      }
    }
  }
}
