@use '../variables' as *;

.innerliche-therapien {
  .picture-text {
    display: flex;
    .item {
      width: 100%;
    }

    @media (min-width: $desktopMinWidth) {
      width: 80%;
      flex-direction: row;
      .item {
        width: 50%;
        padding: 1em;
      }
      .bullet-list-headline-1 {
        font-size: 18px;
      }
    }
  }

  @media (min-width: $desktopMinWidth) {
    .heroComponent {
      .heading-with-colored {
        width: 110%;
      }
    }
  }
}
