@use '../variables' as *;

.jugendliche-von-12-18-jahren {
  .widerHero {
    .circle {
      p {
        padding: 0 26px;
        @media (min-width: $desktopMinWidth) {
          padding: 0;
        }
      }
    }
    .heading-with-colored {
      width: 93vw;
      @media (min-width: $desktopMinWidth) {
        width: 100%;
      }
    }
  }
}
