@use '../variables' as *;

.selbsttest {
  .self-test {
    width: 115%;
    iframe {
      width: 100%;
      height: 889px;
      border: 0;
    }

    @media (max-width: 1200px) {
      iframe {
        height: 980px;
      }
    }

    @media (max-width: 992px) {
      iframe {
        height: 1228px;
      }
    }

    @media (max-width: 992px) {
      iframe {
        height: 1280px;
      }
    }
    @media (min-width: $desktopMinWidth) {
      width: 100%;
    }
  }
}
