@use '../variables' as *;

.startseite {
  .startHero {
    .circle-background {
      width: 500px !important;
      height: 105%;
    }
    margin-bottom: 10px;

    @supports (-webkit-touch-callout: none) {
      .circle-background {
        height: 112%;
      }
      margin-bottom: 20px;
    }
  }
  h1 {
    width: 101%;
  }

  .quote {
    width: 100%;
    text-align: left;
    color: $violetDisable;
    font-size: 18px;
    margin-top: 40px;
  }

  .icons {
    gap: 15px;
    margin-top: 16px;
  }

  .card-container {
    width: 110%;
    .calendar {
      display: none;
    }
  }
}
