@use '../variables' as *;

.ueberblick {
  .large-tips-box {
    width: 314px;
    height: 434px;

    @media (min-width: $desktopMinWidth) {
      width: 566px;
      height: auto;
      padding: 39px 103px 47.7px 108px;
      border-radius: 103.6px !important;
      p {
        font-size: 18px;
        letter-spacing: -0.43px;
      }

      .tippsImage {
        left: 30px;
        bottom: -50px;
      }
    }
  }

  .picture-text {
    display: flex;
    .item {
      & > * {
        margin-top: 20px;
      }
      width: 100%;
    }

    @media (min-width: $desktopMinWidth) {
      width: 80%;
      flex-direction: row;
      .item {
        width: 50%;
        padding: 1em;
      }
      .bullet-list-headline-1 {
        font-size: 18px;
      }
    }
  }
}
