@use '../variables' as *;

.ursachen {
  .customImage {
    .imgContainerRev {
      height: 239px;
      background-color: #f6f4fa;
      border-radius: 30px;
      display: flex;
      align-items: center;
      .gatsby-image-wrapper-constrained {
        width: 290px;
      }
    }
    @media (min-width: $desktopMinWidth) {
      .desktop-item {
        height: 317px;
        background-color: #f6f4fa;
        border-radius: 30px;
        display: flex;
        align-items: center;
        .gatsby-image-wrapper-constrained {
          height: 260px;
        }
      }
    }
  }
}
