@use '../variables' as *;

.verstehen {
  .card-container {
    .card-body {
      background-color: $violetBackground;
    }
  }
  .biggerTextImage {
    .card-img-top-container {
      padding: 0;
      height: 298px;
      .gatsby-image-wrapper {
        height: 298px;
        img {
          object-fit: contain !important;
          height: 288px;
        }
      }

      @media (min-width: $desktopMinWidth) {
        height: 394px;
        .gatsby-image-wrapper {
          height: 394px;
          img {
            height: 368px;
          }
        }
      }
    }
  }
}
