@use '../variables' as *;

.veranstaltungen {
  .eventDisplay {
    margin-top: 21px;
    .card-subtitle {
      margin-top: 10px;
    }
    @media (min-width: $desktopMinWidth) {
      width: 335px !important;
      background-color: $violetBackground;
      align-self: flex-start;
      h3 {
        line-height: 1.2;
        text-align: left;
      }
    }
  }
  
  .calendarManipulation{
    .calendar{
      margin-left: -31px !important;
    }
  }
  
  .hero {
    .circle {
      margin-top: -8em;
      .children {
        margin: 200px 0 100px 0;
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }
  @media (min-width: $desktopMinWidth) {
    .calendarManipulation{
      .calendar{
        margin-left: -50px !important;
      }
    }
    .seminarContainer {
      width: 100%;
      display: flex;
      gap: 97px;
      justify-content: flex-start;
      flex-flow: wrap;
      .eventDisplay {
        height: 100%;

        .gatsby-image-wrapper {
          height: 223.32px;
        }
        .card-body {
          display: flex;
          flex-direction: column;
          .calendar {
            margin-top: auto;
          }

          .button-container {
            margin-top: 0;
          }
        }

        &.titleMid {
          .card-title {
            min-height: 82.76px;
          }
        }
        &.titleLarge {
          .card-title {
            min-height: 110.34px;
          }
        }
      }
    }
  }

  .card-container.var1 {
    justify-content: flex-start;
    gap: 97px;
  }

  .card.big {
    width: 110%;
  }

  .filtered-slider {
    width: 110%;
    .card.big {
      width: 100%;
    }
    @media (min-width: $desktopMinWidth) {
      width: 100%;
    }
  }

  @media (min-width: $desktopMinWidth) {
    h2 {
      width: 100%;
      text-align: left;
    }
    p {
      margin-left: 0;
    }
    .hero {
      p {
        margin-left: 5em;
      }
    }
  }
}
