@use '../variables' as *;

.page {
  color: $violetDisable;

  .quote {
    color: $violetPrimary;
    font-weight: 900;
  }

  h1,
  h2,
  h3 {
    color: $violetPrimary;
  }

  h2,
  h3 {
    width: 100%;
  }

  .dropdown-1 {
    margin-top: 17px;
    margin-bottom: 60px;
  }

  .bullet-list-headline-1 {
    font-weight: 900;
    font-size: 18px;
  }

  .teaser {
    width: 115%;

    h2 {
      color: white;
    }
    @media (max-width: $desktopMinWidth) {
      max-width: 323px;
    }
  }

  .tilted-with-background {
    width: 100%;
    padding-bottom: 50%;

    background-color: white;
    transform: rotate(6deg);
    border-radius: 20px;

    img {
      object-fit: contain !important;
    }
  }

  .akkordeonComponent {
    width: 110%;
    &:first-of-type {
      margin-top: 40px;
    }
    margin-top: 10px;
  }

  .bottom-text {
    p {
      font-size: 14px;
      color: $violetPrimary;
      word-break: break-all;
      margin-top: 10px;
    }
  }

  .image-position-left {
    img {
      object-position: left;
    }
  }

  .image-position-right {
    img {
      object-position: right;
    }
  }

  .image-position-80-50 {
    img {
      object-position: 80% 50%;
    }
  }
}

@media (min-width: $desktopMinWidth) {
  .page {
    h2,
    h3 {
      width: auto;
      text-align: center;
    }

    p {
      & + .bullet-list {
        margin-top: 40px;
      }
    }

    .bottom-text {
      width: 100%;
    }
  }
}
.picture-text {
  display: flex;
  .item {
    width: 100%;
  }
  .zitat-box{
    margin-top: 2em;
  }
  flex-direction: column;
  @media (min-width: $desktopMinWidth) {
    &.row-reverse{
      flex-direction: row-reverse!important;
    }
    width: 80%;
    flex-direction: row;
    .item {
      width: 50%;
      padding: 1em;
    }
    .bullet-list-headline-1 {
      font-size: 18px;
    }
  }
}
