@use 'variables' as *;

body,
html {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;

  * {
    margin: 0;
    padding: 0;
  }
}

.combinedImageWithText {
  .image-br {
    width: 297px !important;
    height: 297px !important;

    @media (min-width: $desktopMinWidth) {
      width: 420px !important;
      height: 420px !important;
    }
  }
}
.centerAbsoluteHeading {
  // used when heading of hero component is too wide and causes padding issues on mobile
  .heading-with-colored {
    @extend .centerAbsoluteDiv;
  }
  .gatsby-image-wrapper {
    margin-top: 180px !important;
  }
}

.plNone {
  .text {
    padding-left: 0 !important;
  }
}

.centerAbsoluteDiv {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.anchorOffset {
  display: block;
  position: relative;
  // top: -250px; Customize it on the specific anchor
  visibility: hidden;
  margin-top: 0 !important;
  z-index: 10000;
}

.arrow-up-translate {
  transform: rotate(90deg);
}

.arrow-down-translate {
  transform: rotate(-90deg);
}

.l-height-desktop {
  .heading-with-colored {
    h1,
    h2 {
      line-height: 1.06;
      @media (min-width: $desktopMinWidth) {
        line-height: 1.01;
      }
    }
  }
}

.image-tilt {
  transform: rotate(-6deg);
}

.image-tilt-r {
  transform: rotate(6deg);
}

.image-br {
  border-radius: 20px;
}

body {
  background-color: $violetBackground;
}

.hidden {
  display: none;
}

.havas-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 35px 40px 40px;
  width: 100%;

  & > * {
    margin: 0;
    margin-top: 40px;
  }

  & > p,
  & > a {
    margin: 0;
    margin-top: 20px;
  }
}

.devide {
  display: flex;
  img {
    width: 420px;
    height: 420px;
  }
  p {
    width: 50%;
  }
}

.havas-container.light {
  background-color: $violetBackground;
}

.havas-container.dark {
  background-color: $violetBackgroundDark;
}

@media (min-width: $desktopMinWidth) {
  body {
    background-color: white;
  }

  .havas-container {
    max-width: 1200px;
    margin: auto;

    padding: 0;

    & > h2 {
      text-align: center;
      margin: 0 122px;
      margin-top: 120px;
    }

    & > h3 {
      margin: 0 122px;
      margin-top: 80px;
    }

    & > * {
      margin-top: 80px;

      &:last-child:not(.teaser) {
        margin-bottom: 120px;
      }
    }

    & > p,
    & > a {
      margin: 0 122px;
      margin-top: 30px;
      align-self: start;
    }
  }

  .havas-container.light {
    background-color: white;

    &::after {
      @include backgroundOverlay(-5);
    }
  }

  .havas-container.dark {
    background-color: $violetBackground;

    &::after {
      @include backgroundOverlay(-5);
      background-color: $violetBackground;
    }
  }
}
