@use 'variables' as *;

// CairoliNow
@font-face {
  font-family: 'CairoliNow';
  src: url('../assets/fonts/Caroli/CairoliNow-Condensed-Black.ttf')
    format('truetype');
  font-weight: 900;
  font-display: swap;
}

// MuseoSans
@font-face {
  font-family: 'MuseoSans';
  src: url('../assets/fonts/MuseoSans/MuseoSans-900.otf');
  font-weight: 900;
  font-display: swap;
}

// RailroadGothic
@font-face {
  font-family: 'RailroadGothic';
  src: url('../assets/fonts/RailroadGothic/OPTIRailroadGothic.otf');
  font-display: swap;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('../assets/fonts/MuseoSans/MuseoSans-700.otf');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('../assets/fonts/MuseoSans/MuseoSans-500.otf');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('../assets/fonts/MuseoSans/ms300.woff2');
  font-weight: 300;
  font-display: swap;
}

html {
  font-size: 18px;
  line-height: 26px;
  font-family: 'MuseoSans';
  font-weight: 500;
}

h1 {
  font-size: 60px;
  line-height: 60px;
  font-family: 'CairoliNow';
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
  line-height: 42px;
  font-family: 'CairoliNow';
  font-weight: 900;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
  line-height: 29px;
  font-family: 'MuseoSans';
  font-weight: 900;
}

h4 {
  font-size: 20px;
  line-height: 26px;
  font-family: 'MuseoSans';
  font-weight: 700;
}

button {
  font-size: 16px;
  font-family: 'MuseoSans';
  font-weight: 700;
}

p,
a {
  font-size: 18px;
  font-family: 'MuseoSans';
  font-weight: 500;
  line-height: 26px;
}

a:not(.button-anchor) {
  color: $nonVisitedLink;
  text-decoration: underline;
}

a:visited:not(.button-anchor) {
  color: $violetPrimary;
  text-decoration: underline;
}

a:hover:not(.button-anchor) {
  color: #7d67ba;
  text-decoration: underline;
}

// p {
//   a, a:visited {
//     color: $violetDisable;
//   }
// }

.headline {
  font-size: 24px;
  line-height: 26px;
  font-family: 'CairoliNow';
  font-weight: 900;
}

.quote {
  font-size: 24px;
  line-height: 26px;
  font-family: 'MuseoSans';
  font-weight: 700;
}

@media (min-width: $desktopMinWidth) {
  h1 {
    font-size: 115px;
    line-height: 100px;
  }

  h2 {
    font-size: 62px;
    line-height: 62px;
  }

  h3 {
    font-size: 32px;
    line-height: 40px;
  }

  h4 {
    font-size: 26px;
    line-height: 32px;
    font-weight: 900;
  }

  .headline {
    font-size: 26px;
    line-height: 40px;
  }

  .quote {
    font-size: 24px;
    line-height: 29px;
  }
}
