$violetPrimary: #633bb0;
$violetBackground: #eeeaf6;
$violetDisable: #453080;
$violetLink: #302156;
$nonVisitedLink: #2e2353;
$yellowPrimary: #facf27;
$yellowSecondary: #facf05;
$turquoisePrimary: #5fe2e3;
$turquoiseLight: #98e6e7;
$turquoiseBackground: #effcfc;
$violetHover: #2d2353;
$violetContact: #5d3caa;
$violetBackgroundDark: #e7e1f4;
$light-grey: #f4f4f4;

$desktopMinWidth: 768px;

@mixin backgroundOverlay($zIndex) {
  content: '';
  display: block;
  background-color: white;
  width: 100vw;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: $zIndex;
}
